table{
  width: 100%;
}

.mainColumnAnime{
  margin-left: 20%;
  width: 100%;
  background-image: url(../src/image/Anime.webp);
  background-repeat: repeat;
}

.mainColumnMovie{
  margin-left: 20%;
  width: 100%;
  background-image: url(../src/image/Movie.webp);
  background-repeat: repeat;
}

.mainColumnComic{
  margin-left: 20%;
  width: 100%;
  background-image: url(../src/image/Comic.webp);
  background-repeat: repeat;
}

.mainColumnWorks{
  margin-left: 20%;
  width: 100%;
  background-image: url(../src/image/Works.webp);
  background-repeat: repeat;
}

.mainColumnAdmin{
  margin-left: 20%;
  width: 100%;
  height: 100vb;
  background-color: rgba(222, 222, 236, 0.8);
  background-repeat: repeat;
}

.subBodyList{
  font-weight: bold;
  margin-bottom: 2rem;
}

.subBody{
  padding: 0 20%;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.photo-item {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.photo-image {
  background-size: cover;
  background-position: center;
  min-height: 200px; /* Adjust this value as needed */
}

.photo-description {
  padding: 10px;
  text-align: center;
  color: #333;
  font-size: 14px;
}

.photo-item img {
  width: 100%; 
  height: auto;
  margin-bottom: 10px;
}

.photo-item p {
  text-align: center;
  color: #333;
  font-size: 14px;
}


@media (max-width: 768px) {
  .mainColumnAnime, .mainColumnMovie, .mainColumnComic, .mainColumnWorks, .mainColumnAdmin{
    margin-left: 0;
  }

  .subBody{
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
  }

  .topProfileItem{
    width: 100%;
  }

  .movie-video video {
    width: 100%;
  }

  .topInfoItemBody{
    margin-left: 0;
  }
}